<header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Welcome To Coffee Shop</span>
            <span class="site-heading-lower">Enjoy With Your Coffee</span>
        </h1>
    </header>