<header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Kahve Dünyasına Hoş Geldiniz</span>
            <span class="site-heading-lower">Afiyet Olsun</span>
        </h1>
 </header>